<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Passing Array Values</display-name>
  <welcome-file-list>
    <welcome-file>Addrecipe.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SelectdataServlet</display-name>
    <servlet-name>SelectdataServlet</servlet-name>
    <servlet-class>com.Recipes.MakeRecipes.SelectdataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectdataServlet</servlet-name>
    <url-pattern>/SelectdataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>asd</display-name>
    <servlet-name>asd</servlet-name>
    <servlet-class>asd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asd</servlet-name>
    <url-pattern>/asd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet</display-name>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>com.Pasing.Operation.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArrayServlet</display-name>
    <servlet-name>ArrayServlet</servlet-name>
    <servlet-class>com.Pasing.Operation.ArrayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArrayServlet</servlet-name>
    <url-pattern>/ArrayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServlettoJSP</display-name>
    <servlet-name>ServlettoJSP</servlet-name>
    <servlet-class>com.Pasing.Operation.ServlettoJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServlettoJSP</servlet-name>
    <url-pattern>/ServlettoJSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArrayDatatoServlet</display-name>
    <servlet-name>ArrayDatatoServlet</servlet-name>
    <servlet-class>com.Pasing.Operation.ArrayDatatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArrayDatatoServlet</servlet-name>
    <url-pattern>/ArrayDatatoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArraydatatoServletUsingJavascript2</display-name>
    <servlet-name>ArraydatatoServletUsingJavascript2</servlet-name>
    <servlet-class>com.Pasing.Operation.ArraydatatoServletUsingJavascript2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArraydatatoServletUsingJavascript2</servlet-name>
    <url-pattern>/ArraydatatoServletUsingJavascript2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>aa</display-name>
    <servlet-name>aa</servlet-name>
    <servlet-class>com.Pasing.Operation.aa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aa</servlet-name>
    <url-pattern>/aa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSPServletJSP</display-name>
    <servlet-name>JSPServletJSP</servlet-name>
    <servlet-class>com.Pasing.Operation.JSPServletJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSPServletJSP</servlet-name>
    <url-pattern>/JSPServletJSP</url-pattern>
  </servlet-mapping>
</web-app>